body
{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#containerFooter 
{
    width: 100%;
    background-color: rgba(128, 162, 140, 1);
    color: white;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 300px;
    box-sizing: border-box;
}
#webFooter a {
    color: white;
    text-decoration: none;
}
#containerFooter h3:hover, #containerFooter p:hover,#webFooter a:hover
{
    color: lightslategray;
    cursor: pointer;
}
#webFooter
{
    width: 80%;
    padding-top: 30px;
    font-size: 12px;
}
#credit 
{
    width: 100%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    background-color:  rgba(128, 162, 140, 1);
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
}

#credit a
{
    color: white;
    text-decoration: none;
    position: relative;
}
#credit a::after
{
content: "";
background: white;
mix-blend-mode: exclusion;
width: calc(100% + 18px);
height: 0;
position: absolute;
bottom: -4px;
left: -10px;
transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#credit a:hover::after
{
    height: calc(100% + 8px)
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1350px)
{
    #containerFooter
    {
        padding: 15px 200px;
    }
}
@media(max-width: 1166px)
{
    #containerFooter
    {
        padding: 15px 100px;
    }
}
@media(max-width: 950px)
{
    #containerFooter
    {
        padding: 15px 50px;
    }
}
@media(max-width: 850px)
{
    #containerFooter
    {
        font-size: 13px;
    }
    #webFooter
    {
        font-size: 10px;
    }
}
@media(max-width: 750px)
{
    #containerFooter
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px 100px;
    }
    #webFooter
    {
        padding: 15px 20px;
    }
}
@media(max-width: 540px)
{
    #containerFooter
    {
        padding: 0 25px;
    }
}






.fa {
    padding: 10px;
    font-size: 20px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
  }
  /* Define a class for the social media icons */
.social-icons {
    font-size: 24px; /* Adjust the size as needed */
}

/* Style the list items */
.social-icons a {
    display: block; /* Display each icon as a block element (one per line) */
    margin-bottom: 10px; /* Add some space between icons */
}

  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
